* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  margin: 0;
  padding: 1rem;
  color: black;
}

.header {
  background-color: cadetblue;
}

@media (width < 600px) {
  .header {
    background-color: blueviolet;
  }

  h1 {
    color: white;
  }
}

@media (width < 400px) {
  .header {
    background-color: brown;
  }
}
